DATABASE_URL=postgresql://postgres.sxwidguvxzlkbkkycttj:232399@aws-1-eu-west-1.pooler.supabase.com:6543/postgres
# DATABASE_EXTRA="{\"ssl\":{\"rejectUnauthorized\":false}}"

JWT_SECRET=supersecret
COOKIE_SECRET=supersecret

STORE_CORS=https://burtniekivine.eu,https://www.burtniekivine.eu
ADMIN_CORS=https://api.burtniekivine.eu
AUTH_CORS=https://burtniekivine.eu,https://www.burtniekivine.eu,https://api.burtniekivine.eu

NODE_ENV=production
SEED_DB=false

NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_ef84ab639ccb1a3bacd81973b35bc8086ac98788d1c0e9ddc46eb8f97db88411
NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://api.burtniekivine.eu
MEDUSA_BACKEND_URL=https://api.burtniekivine.eu
MEDUSA_INTERNAL_BACKEND_URL=http://medusa:9000

REDIS_URL=redis://redis:6379
REDIS_CACHE_URL=redis://redis:6379
CACHE_REDIS_URL=redis://redis:6379
EVENTS_REDIS_URL=redis://redis:6379

STOREFRONT_REPO=https://github.com/medusajs/nextjs-starter-medusa
STOREFRONT_REF=main
BACKEND_DIR=backend
STOREFRONT_DIR=storefront
BACKEND_INIT_CMD="npx create-medusa-app@latest {dir}"
BACKEND_REPO=https://github.com/medusajs/medusa-starter-default
BACKEND_REF=master
